dev/pug/index.pug
extends templates/template
block banner
  .main-banner
    .ed-container
      .ed-item.banner-container
        img(src="img/perrito.jpg").main-banner__img
        .main-banner__copy
          h2.main-banner__title
            span The Kind Of Care
            span Your Pets Deserve
          .main-banner__content
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, aut. Officiis ipsa enim eum, accusamus quisquam eius quae, obcaecati, magni provident voluptatem unde deleniti cumque. Quam, nulla accusantium? Ad, laborum?

block aboutUs
  .ed-container.about-us
    .ed-ite.m-50
      img(src='img/perrito-2.jpg').about-us__img
    .ed-ite.m-50.cross-center
      .about-us__copy
        h2.about-us__title About Clinic
        p.about-us__subtitle Pets best friend
        p.about-us__content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="#").about-us__cta Contact Us

block features
  .features-container
    .ed-container
      .ed-item.s-50.l-25
        .feature
          .icon-heart.feature__icon
          .feature__numbers 15964
          .feature__subtitle Happy Clients
      .ed-item.s-50.l-25
        .feature
          .icon-home.feature__icon
          .feature__numbers 15964
          .feature__subtitle Happy Clients
      .ed-item.s-50.l-25
        .feature
          .icon-heart.feature__icon
          .feature__numbers 15964
          .feature__subtitle Happy Clients
      .ed-item.s-50.l-25
        .feature
          .icon-heart.feature__icon
          .feature__numbers 15964
          .feature__subtitle Happy Clients

block services
  .ed-container
    .ed-item
      h2.services-title Our
        span Services & Procedures
      p.services-subtitle Many Clients Satisfied

      .services-container
        -var i = 6
        -while (i--)
          .service
            .service-icon.icon-dog
            h3.service-title Wellness Care
            p.service-content Lorem ipsum dolor sit amet, consectetur adipisicing elit.

block gallery
  .gallery
    -var g = 8
    -while (g--)
      .gallery-item
        img(src="../img/dog.jpg", alt="dog")

block pricing
  .pricing
    h2.pricing-title Pricing Tables

  .ed-container.pricing-tables
    -var t = 3
    -while(t--)
      .ed-item.l-1-3
        ul.pricing-table
          li.pricing-table__title Preventive
            Span Inspection
          li.pricing-table__price 99.99
          li.pricing-table__feature Feature 1
          li.pricing-table__feature Feature 2
          li.pricing-table__feature Feature 3
          li.pricing-table__feature Feature 4
          li.pricing-table__feature Feature 5
          li: a(href="#").pricing-table__cta Solicitar

dist/index.html
<DOCTYPE html><html lang="es"></html><head><meta charset="UTF-8"/><title>Pets</title><meta name="viewport" content="width=device-width, initial-scale=1.0"/><link rel="stylesheet" href="./css/styles.css"/><link href="https://file.myfontastic.com/pZ7hcrXQqrSNVX6vfYd3jc/icons.css" rel="stylesheet"/></head><body><header class="ed-container"><div class="ed-item s-80"><div class="logo"><h2>Alex Chip</h2></div></div><div class="ed-item s-20 cross-center main-end"><div class="nav-toggle" id="main-nav-toggle"></div></div></header><div class="nav-container" id="nav-container"><div class="ed-container"><div class="ed-item"><nav class="main-nav" id="main-nav"><ul class="main-menu" id="main-menu"><li><a class="active" href="">Home</a></li><li><a href="">About us</a></li><li><a href="">Services</a></li><li><a href="">Gallery</a></li><li><a href="">Blog</a></li><li><a href="">Contact</a></li></ul></nav></div></div></div><div class="main-banner"><div class="ed-container"><div class="ed-item banner-container"><img class="main-banner__img" src="img/perrito.jpg"/><div class="main-banner__copy"><h2 class="main-banner__title"><span>The Kind Of Care</span><span>Your Pets Deserve</span></h2><div class="main-banner__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div></div></div></div><div class="ed-container about-us"><div class="ed-ite m-50"><img class="about-us__img" src="img/perrito-2.jpg"/></div><div class="ed-ite m-50 cross-center"><div class="about-us__copy"><h2 class="about-us__title">About Clinic</h2><p class="about-us__subtitle">Pets best friend</p><p class="about-us__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a class="about-us__cta" href="#">Contact Us</a></div></div></div><div class="features-container"><div class="ed-container"><div class="ed-item s-50 l-25"><div class="feature"><div class="icon-heart feature__icon"></div><div class="feature__numbers">15964</div><div class="feature__subtitle">Happy Clients</div></div></div><div class="ed-item s-50 l-25"><div class="feature"><div class="icon-home feature__icon"></div><div class="feature__numbers">15964</div><div class="feature__subtitle">Happy Clients</div></div></div><div class="ed-item s-50 l-25"><div class="feature"><div class="icon-heart feature__icon"></div><div class="feature__numbers">15964</div><div class="feature__subtitle">Happy Clients</div></div></div><div class="ed-item s-50 l-25"><div class="feature"><div class="icon-heart feature__icon"></div><div class="feature__numbers">15964</div><div class="feature__subtitle">Happy Clients</div></div></div></div></div><div class="ed-container"><div class="ed-item"><h2 class="services-title">Our<span>Services & Procedures</span></h2><p class="services-subtitle">Many Clients Satisfied</p><div class="services-container"><div class="service"><div class="service-icon icon-dog"></div><h3 class="service-title">Wellness Care</h3><p class="service-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div><div class="service"><div class="service-icon icon-dog"></div><h3 class="service-title">Wellness Care</h3><p class="service-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div><div class="service"><div class="service-icon icon-dog"></div><h3 class="service-title">Wellness Care</h3><p class="service-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div><div class="service"><div class="service-icon icon-dog"></div><h3 class="service-title">Wellness Care</h3><p class="service-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div><div class="service"><div class="service-icon icon-dog"></div><h3 class="service-title">Wellness Care</h3><p class="service-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div><div class="service"><div class="service-icon icon-dog"></div><h3 class="service-title">Wellness Care</h3><p class="service-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div></div></div></div><div class="gallery"><div class="gallery-item"><img src="../img/dog.jpg" alt="dog"/></div><div class="gallery-item"><img src="../img/dog.jpg" alt="dog"/></div><div class="gallery-item"><img src="../img/dog.jpg" alt="dog"/></div><div class="gallery-item"><img src="../img/dog.jpg" alt="dog"/></div><div class="gallery-item"><img src="../img/dog.jpg" alt="dog"/></div><div class="gallery-item"><img src="../img/dog.jpg" alt="dog"/></div><div class="gallery-item"><img src="../img/dog.jpg" alt="dog"/></div><div class="gallery-item"><img src="../img/dog.jpg" alt="dog"/></div></div><div class="pricing"><h2 class="pricing-title">Pricing Tables</h2></div><div class="ed-container pricing-tables"><div class="ed-item l-1-3"><ul class="pricing-table"><li class="pricing-table__title">Preventive<Span>Inspection</Span></li><li class="pricing-table__price">99.99</li><li class="pricing-table__feature">Feature 1</li><li class="pricing-table__feature">Feature 2</li><li class="pricing-table__feature">Feature 3</li><li class="pricing-table__feature">Feature 4</li><li class="pricing-table__feature">Feature 5</li><li><a class="pricing-table__cta" href="#">Solicitar</a></li></ul></div><div class="ed-item l-1-3"><ul class="pricing-table"><li class="pricing-table__title">Preventive<Span>Inspection</Span></li><li class="pricing-table__price">99.99</li><li class="pricing-table__feature">Feature 1</li><li class="pricing-table__feature">Feature 2</li><li class="pricing-table__feature">Feature 3</li><li class="pricing-table__feature">Feature 4</li><li class="pricing-table__feature">Feature 5</li><li><a class="pricing-table__cta" href="#">Solicitar</a></li></ul></div><div class="ed-item l-1-3"><ul class="pricing-table"><li class="pricing-table__title">Preventive<Span>Inspection</Span></li><li class="pricing-table__price">99.99</li><li class="pricing-table__feature">Feature 1</li><li class="pricing-table__feature">Feature 2</li><li class="pricing-table__feature">Feature 3</li><li class="pricing-table__feature">Feature 4</li><li class="pricing-table__feature">Feature 5</li><li><a class="pricing-table__cta" href="#">Solicitar</a></li></ul></div></div><script src="./js/ed-grid.js"></script><script src="./js/scripts.js"></script><script src="./js/stikyMenu.js"></script></body>
